{% extends "admin/account/page.html" %}{% load i18n staticfiles cms_tags %}
{% block title %}
    {% trans "Article details" %}
{% endblock title %}

{% block toolbar %}
    <span class="toolbar__title">{% trans "Articles" %}</span>
{% endblock toolbar %}

{% block content %}
<div class="[ content__inner ]">
    <p class="breadcrumb">
        <a href="{% url 'blog-admin:article-list' %}">{% trans "Articles" %}</a>
        &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
        <a href="{% url 'blog-admin:article-detail' object.id %}">{{object.display_title}}</a>
        &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
        {% trans "Page details" %}
    </p>
</div>

<div class="[ content__inner ] [ box box--padded box--bordered ]">
    <fieldset>
        <legend>{% trans "Status" %}</legend>
        <div class="grid">
            <div class="grid__span-5">
                <p>
                    {% blocktrans %}
                        The status of the article defines if the article will be
                        displayed publicly, and which version will be shown.
                    {% endblocktrans %}
                </p>
                <p>
                    {% trans "The current status of the article is" %}:
                </p>
                {% if object.status == 'APPROVAL_NEEDED' %}
                    <p>
                        <span class="label label--warning">
                            {{object.status_verbal}}
                        </span>
                        {% if perms.blog.publish_article %}
                        <a href="{% url 'blog-admin:article-publish' object.id %}">
                            {% trans "Approve now" %}
                            <span class="fa fa-arrow-right"></span>
                        </a>
                        {% endif %}
                    </p>
                {% elif object.status == 'PUBLISHED' %}
                    <p>
                        {% if object.is_published %}
                        <span class="label label--success">
                            {{object.status_verbal}}
                        </span>
                        {% else %}
                        <span class="label label--primary">
                            {% trans "Approved" %}
                        </span>
                        {% endif %}

                        {% if perms.blog.publish_article %}
                            <a href="{% url 'blog-admin:article-unpublish' object.id %}">
                                {% trans "Unpublish" %}
                            </a>

                        {% endif %}
                    </p>
                {% else %}
                    <p>
                        <span class="label">
                            {% trans "Draft" %}
                        </span>
                        {% if perms.blog.publish_article %}
                            {% if page.get_translations %}
                            <a href="{% url 'blog-admin:article-publish' object.id %}">
                                {% trans "Approve now" %}
                                <span class="fa fa-arrow-right"></span>
                            </a>
                            {% else %}
                            <p class="alert alert--warning">
                                <span class="fa fa-info-circle"></span>
                                {% blocktrans %}
                                    You must choose a title for the page
                                    before it can be approved.
                                {% endblocktrans %}
                            </p>
                            {% endif %}

                        {% endif %}
                    </p>
                {% endif %}
                <p>
                    {% trans "The publish date is" %}:
                    <p class="text-strong">
                    <span class="fa fa-calendar"></span> {{object.publish_date|date:"d F Y"}}
                    <span class="fa fa-clock-o"></span> {{object.publish_date|date:"h:i A"}}
                    </p>
                </p>
            </div>
            <div class="grid__span-7">
                <div class="content-inner">
                    <table class="table">
                        <tr class="table-row">
                            <td class="table-cell">
                                <span class="label">
                                    {% trans "Draft" %}
                                </span>
                            </td>
                            <td class="table-cell">{% blocktrans %}
                                There's no published version of the article and the
                                article is not publicly available.
                            {% endblocktrans %}</td>
                        </tr>
                        <tr class="table-row">
                            <td class="table-cell">
                                <span class="label label--warning">
                                    {% trans "Approval needed" %}
                                </span>
                            </td>
                            <td class="table-cell">{% blocktrans %}
                                A version of the article has been added or edited
                                and needs an administrator approval to be
                                published live.
                            {% endblocktrans %}</td>
                        </tr>
                        <tr class="table-row">
                            <td class="table-cell">
                                <span class="label label--primary">
                                    {% trans "Approved" %}
                                </span>
                            </td>
                            <td class="table-cell">{% blocktrans %}
                                The article is approved to be published but the
                                publish date is in the future.
                            {% endblocktrans %}</td>
                        </tr>
                        <tr class="table-row">
                            <td class="table-cell">
                                <span class="label label--success">
                                    {% trans "Published" %}
                                </span>
                            </td>
                            <td class="table-cell">{% blocktrans %}
                                The article is published and the latest edition is
                                being publicly displayed.
                            {% endblocktrans %}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </fieldset>
</div>

<div class="[ content__inner ] [ box box--padded box--bordered ]">
    <fieldset>
        <legend>{% trans "Content" %}</legend>
        <div class="grid">
            <div class="grid__span-6">
                <p>{% blocktrans %}Once you have created the article, you will need
                to publish some content inside it. If this website supports
                multiple languages, you will be a able to add content for each
                language independently.{% endblocktrans %}</p>

                <p>{% blocktrans %}Before you can add content to the page, you
                need to specify which URL you would like to use. Please note
                that all URLs within the website must be unique.
                {% endblocktrans %}</p>
            </div>
        </div>
        <div class="content-inner">
            <table class="table">
                <thead>
                    <tr class="table-row">
                        <th class="table-head-cell">{% trans "Language" %}</th>
                        <th class="table-head-cell">{% trans "Title" %}</th>
                        <th class="table-head-cell">{% trans "URL" %}</th>
                        <th class="table-head-cell">{% trans "Content" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for page in object.languages %}
                    <tr class="table-row">
                        <td class="table-cell">
                            <img src="{% static "img/flags/" %}{{page.language_code}}.png" style="width:16px; position: relative; top:3px;"/>
                            {{page.get_language}}
                        </td>
                        <td class="table-cell">
                            {% if perms.blog.change_article %}
                                {% if page.parent %}
                                {% if page.title %}{{page.title}}{% endif %}
                                <a
                                    href="{% url 'blog-admin:article-title-update' object.id page.language_code page.id %}"
                                    class="{% if not page.title %}[ btn btn--small btn--create ]{% endif %}"
                                    >
                                    {% if page.title %}
                                        <span class="fa fa-pencil"></span>
                                    {% else %}
                                        {% trans "Add title" %}
                                    {% endif %}
                                </a>

                                {% else %}
                                <a href="{% url 'blog-admin:article-title-add' object.id page.language_code %}" class="btn btn--small btn--create">
                                    {% trans "Choose title" %}
                                </a>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="table-cell">
                            {% if page.parent %}
                                {% if page.slug %}/{{page.slug}}/{% endif %}
                                <a href="{% url 'blog-admin:article-url-update' object.id page.language_code page.id %}">
                                    <span class="fa fa-pencil"></span>
                                    {% if not page.slug %}{% trans "Choose URL" %}{% endif %}
                                </a>
                            {% else %}
                            <span class="text-muted">
                                {% trans "You must choose a title before setting the URL." %}
                            </span>
                            {% endif %}
                        </td>
                        <td class="table-cell">
                            {% if page.parent and page.slug %}
                            <a
                                href="{{object|get_page_url:page.language_code}}?preview"
                                class="[ btn btn--small btn--primary ]">
                                <span class="fa fa-file-text"></span>
                                {% if perms.blog.change_article %}
                                    {% trans "Preview & Edit" %}
                                {% else %}
                                    {% trans "Preview" %}
                                {% endif %}
                            </a>
                            {% else %}
                            <span class="text-muted">
                                {% trans "You must set a URL before adding content." %}
                            </span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </fieldset>
</div>

<div class="[ content__inner ] [ box box--padded box--bordered ]">
    <fieldset>
        <legend>{% trans "Meta data" %}</legend>
        <div class="grid">
            <div class="grid__span-6">
                <p>{% blocktrans %}Meta data is the content information that a user
        can't see but a search engine or social media website can. This data can be
        used to add extra description about the article, and list of fields that
        are used by social networks, such as open graph.{% endblocktrans %}</p>
            </div>
        </div>
        <div class="content-inner">
            {% if object.dataset %}


            <table class="table">
                <thead>
                    <tr class="table-row">
                        <th class="table-head-cell">{% trans "Language" %}</th>
                        <th class="table-head-cell">{% trans "Data" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for page in object.languages %}
                    <tr class="table-row">
                        <td class="table-cell">
                            <img src="{% static "img/flags/" %}{{page.language_code}}.png" style="width:16px; position: relative; top:3px;"/>
                            {{page.get_language}}
                        </td>
                        <td class="table-cell">
                            {% if page.parent %}
                                {% if perms.blog.change_article %}
                                <a
                                    href="{% url 'blog-admin:article-metadata-update' page.id page.language_code %}"
                                    class="[ btn btn--small btn--primary ]">
                                    <span class="fa fa-file-text"></span>
                                    {% trans "Edit" %}
                                </a>
                                {% endif %}
                            {% else %}
                            <span class="text-muted">
                                {% trans "You must set a title for that language before adding data." %}
                            </span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <a href="{% url 'blog-admin:article-update' object.id %}#dataset"
                    class="btn btn--small btn--create">
                    {% trans "Select dataset" %}
                </a>
            {% endif %}
        </div>
    </fieldset>
</div>

<div class="[ content__inner ] [ box box--padded box--bordered ]">
    <fieldset>
        <legend>{% trans "Article details" %}</legend>
        <div class="grid">
            <div class="grid__span-2">
                <span class="form__label--inline">
                    {% trans "Display Title" %}
                </span>
            </div>
            <div class="grid__span-8">
                <p>{{object.display_title}}</p>
            </div>
        </div>
        <div class="grid">
            <div class="grid__span-2">
                <span class="form__label--inline">
                    {% trans "Template" %}
                </span>
            </div>
            <div class="grid__span-8">
                <p>{{object.get_template}}</p>
            </div>
        </div>
        <div class="grid">
            <div class="grid__span-2">
                <span class="form__label--inline">
                    {% trans "Author" %}
                </span>
            </div>
            <div class="grid__span-8">
                <p>{{object.author}}</p>
            </div>
        </div>
        <div class="grid">
            <div class="grid__span-2">
                <span class="form__label--inline">
                    {% trans "Unique article identifier" %}
                </span>
            </div>
            <div class="grid__span-8">
                <p>{{object.slug}}</p>
            </div>
        </div>
    </fieldset>
</div>

<div class="content__inner">
    {% if perms.blog.delete_article %}
    <a
        href="{% url 'blog-admin:article-delete' object.id %}"
        class="btn btn--delete btn--transparent pull-right">
        {% trans "Delete Article" %}
    </a>
    {% endif %}
    {% if perms.blog.change_article %}
    <a
        href="{% url 'blog-admin:article-update' object.id %}"
        class="btn btn--change">
        {% trans "Edit Article Details" %}
    </a>
    {% endif %}
</div>
{% endblock content %}
