{% extends "admin/account/page.html" %}{% load i18n %}
{% block title %}
	{% if object %}
		{% trans "Edit Article URL" %}
	{% else %}
		{% trans "Choose a URL" %}
	{% endif %}
{% endblock title %}

{% block toolbar %}
	<span class="toolbar__title">{% trans "Articles" %}</span>
{% endblock toolbar %}

{% block content %}
<div class="[ content__inner ]">
	<p class="breadcrumb">
		<a href="{% url 'blog-admin:article-list' %}">{% trans "Articles" %}</a>  
		&nbsp;<span class="fa fa-angle-right"></span>&nbsp;
		<a href="{% url 'blog-admin:article-detail' page.id %}">{{page.display_title}}</a>
		&nbsp;<span class="fa fa-angle-right"></span>&nbsp;
		{% if object %}
			{% trans "Edit Article URL" %}
		{% else %}
			{% trans "Choose a URL" %}
		{% endif %}
	</p>
</div>
<form action="" method="post" class="form">
{% csrf_token %}
{% if form.non_field_errors %}
    <div class="alert alert--error">
    {% for error in form.non_field_errors %}
        {{error}}<br>
    {% endfor %}
    </div>
{% endif %}

<div class="[ content__inner ] [ box box--padded box--bordered ]">
	<fieldset>
		<legend>{% trans "Article URL" %}</legend>
		{% if page.parent and not page.parent.get_translations %}
		<p>{% blocktrans %}
		    The parent page must have a URL before you can set a URL for 
		    this page.
		{% endblocktrans %}</p>
		<p><a href="{% url 'blog-admin:article-detail' page.parent.id %}">
		{% blocktrans %}
		    Choose a URL for the parent page.
		{% endblocktrans %}</a></p>
		{% else %}
		<div class="grid">
			<p>
				{% if page.parent %}
				{{SITE_URL}}{{page.parent.get_absolute_url}}<span id="slug" class="text-strong">{% if translation.slug %}{{translation.slug}}/{% endif %}</span>
				{% else %}
				{{SITE_URL}}/<span id="slug" class="text-strong">{% if translation.slug %}{{translation.slug}}/{% endif %}</span>
				{% endif %}
			</p>
			<div class="grid__span-6">
				{% with form.slug as field %}
					{% include "admin/includes/text-field.html" %}
				{% endwith %}
			</div>		
		</div>
		{% endif %}
	</fieldset>
</div>

<div class="content__inner">
	<button type="submit" class="btn btn--primary">
		{% trans "Save" %}
	</button>
</div>

</form>
{% endblock content %}
{% block footer_scripts %}
<script type="text/javascript">
	function updateSlug(elm){
		container = document.getElementById('slug')
		container.innerHTML = elm.value + "/";
	}
</script>
{% endblock footer_scripts %}