{% extends "admin/account/page.html" %}{% load i18n staticfiles %}
{% block title %}
    {% trans "Article" %}
{% endblock title %}

{% block toolbar %}
    {% if perms.blog.add_articledataset %}
    <a href="{% url 'blog-admin:article-add' %}"
        class="[ toolbar__item ] [ btn btn--create btn--small pull-right ]">
        <span class="fa fa-plus"></span> {% trans "Add an article" %}
    </a>
    {% endif %}
    {% if perms.blog.change_articledataset %}
    <a href="{% url 'blog-admin:articledataset-list' %}"
        class="[ toolbar__item ] [ btn btn--primary btn--small pull-right ]">
        {% trans "Manage datasets" %}
    </a>
    {% endif %}
    <span class="toolbar__title">{% trans "Article" %}</span>
{% endblock toolbar %}

{% block content %}
<div class="grid grid--collapse">
    <div class="grid__span-12">
        <div class="content__inner">
            {% if object_list %}
            <table class="table table--clickable">
                <tr class="table-row">
                    <th class="table-head-cell">{% trans "Page" %}</th>
                    <th class="table-head-cell">{% trans "URL" %}</th>
                    <th class="table-head-cell">{% trans "Menu" %}</th>
                    <th class="table-head-cell">{% trans "Status" %}</th>
                    <th class="table-head-cell">{% trans "Content" %}</th>
                    <th class="table-head-cell">{% trans "Template" %}</th>
                </tr>
                {% for page in object_list %}
                <tr 
                    onClick="window.location = '{% url 'blog-admin:article-detail' page.id %}'"
                    class="table-row">
                    <td class="table-cell">
                        <a href="{% url 'blog-admin:article-detail' page.id %}">
                            {{page.display_title}}
                        </a>
                    </td>
                    <td class="table-cell">
                        <a href="{% url 'blog-admin:article-detail' page.id %}">
                            {{page.get_absolute_url}}
                        </a>
                    </td>
                    <td class="table-cell">
                    {% if page.hide_from_nav %}
                        <span class="fa fa-close"></span>
                    {% else %}
                        <span class="fa fa-check"></span>
                    {% endif %}
                    </td>
                    <td class="table-cell">
                    {% if page.status == 'APPROVAL_NEEDED' %}
                        <span class="label label--warning">
                            {{page.status_verbal}}
                        </span>
                    {% elif page.status == 'PUBLISHED' %}
                        <span class="label label--success">
                            {{page.status_verbal}}
                        </span>
                    {% else %}
                        <span class="label">
                            {% trans "Draft" %}
                        </span>
                    {% endif %}
                    </td>
                    <td class="table-cell">
                        {% if page.get_translations %}
                            {% for t in page.get_translations %}
                                <img 
                                    src="{% static "img/flags/" %}{{t.language_code}}.png"
                                    style="width:16px; position: relative; top:3px;"/>
                            {% endfor %}
                        {% else %}
                            <a href="{% url 'blog-admin:article-detail' page.id %}">
                                + {% trans "Add content" %}
                            </a>
                        {% endif %}
                    </td>
                    <td class="table-cell">
                        {{page.get_template}}
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
                <p>{% trans "No Article have been created yet." %}</p>
                <a href="{% url 'blog-admin:article-add' %}" class="btn btn--create">
                    <span class="fa fa-plus"></span> 
                    {% trans "Add the first article" %}
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}