{% extends "admin/account/page.html" %}{% load i18n staticfiles %}
{% block title %}
    {% if object %}
        {% trans "Edit Article meta data" %}
    {% else %}
        {% trans "Add a Article meta data" %}
    {% endif %}
{% endblock title %}

{% block header_scripts %}
    <link href="{% static "codemirror/lib/codemirror.css" %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{% static "codemirror/theme/cobalt.css" %}" type="text/css" media="all" rel="stylesheet" />
    <script type="text/javascript" src="{% static "codemirror/lib/codemirror.js" %}"></script>
    <script type="text/javascript" src="{% static "codemirror/mode/javascript/javascript.js" %}"></script>
{% endblock header_scripts %}

{% block toolbar %}
    <span class="toolbar__title">{% trans "Article meta data" %}</span>
{% endblock toolbar %}

{% block content %}
<div class="[ content__inner ]">
    <p class="breadcrumb">
        <a href="{% url 'blog-admin:article-list' %}">{% trans "Articles" %}</a>  
        &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
        {% if translation %}
            <a href="{% url 'blog-admin:article-detail' translation.id %}">{{translation}}</a>  
            &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
            {% trans "Edit Article meta data" %}
        {% else %}
            {% trans "Add a Article meta data" %}
        {% endif %}
    </p>
</div>
<form action="" method="post" class="form" enctype="multipart/form-data">
{% csrf_token %}
{% if form.non_field_errors %}
    <div class="alert alert--error">
    {% for error in form.non_field_errors %}
        {{error}}<br>
    {% endfor %}
    </div>
{% endif %}

{% for fieldset in form.fieldsets %}
<div class="[ content__inner ] [ box box--padded box--bordered ]">
    <fieldset>
        <legend>{{fieldset.legend}}</legend>
    {% for field in fieldset %}
        <div class="grid">
            <div class="grid__span-2">
                <span class="form__label--inline">
                    {{field.label}}
                </span>
            </div>
            <div class="grid__span-3">
                {% include "admin/includes/text-field.html" %}
            </div> 
        </div> 
    {% endfor %}
    </fieldset>
</div>
{% endfor %}

<div class="content__inner">
    <button type="submit" class="btn btn--primary">
        {% trans "Save" %}
    </button>
</div>
</form>
{% endblock content %}