{% extends "admin/account/page.html" %}{% load i18n %}
{% block title %}
	{% trans "Approve Article" %}
{% endblock title %}

{% block toolbar %}
	<span class="toolbar__title">{% trans "Articles" %}</span>
{% endblock toolbar %}

{% block content %}
<div class="[ content__inner ]">
	<p class="breadcrumb">
		<a href="{% url 'blog-admin:article-list' %}">{% trans "Articles" %}</a>  
		&nbsp;<span class="fa fa-angle-right"></span>&nbsp;
		<a href="{% url 'blog-admin:article-detail' page.id %}">{{page.display_title}}</a>
		&nbsp;<span class="fa fa-angle-right"></span>&nbsp;
		{% trans "Approve Article" %}
	</p>
</div>
<form action="" method="post" class="form">
{% csrf_token %}
{% if form.non_field_errors %}
    <div class="alert alert--error">
    {% for error in form.non_field_errors %}
        {{error}}<br>
    {% endfor %}
    </div>
{% endif %}

{% if page.get_translations %}
<div class="[ content__inner ] [ box box--padded box--bordered ]">
	<fieldset>
		<h3>{% trans "Are you sure to approve the following page?" %}</h3>
		<p class="text-strong">{{page.display_title}}</p>
		<p>
			{% trans "All translations available for that page will be approved." %}
		</p>
		
	</fieldset>
</div>

<div class="content__inner">
	<form method="post" action=".">
		<button type="submit" class="btn btn--primary">
			{% trans "Approve" %}
		</button>
		<a href="{% url 'blog-admin:article-detail' page.id %}" class="btn btn--cancel btn--transparent">
			{% trans "Cancel" %}
		</a>
	</form>
</div>
{% else %}
<div class="[ content__inner ] [ box box--padded box--bordered ]">
	<fieldset>
		<p>
			{% blocktrans %}
			    This page can not be published because it doesn't have any 
			    content.
			{% endblocktrans %}
		</p>
		
	</fieldset>
</div>
<div class="content__inner">
	<a href="{% url 'blog-admin:article-detail' page.id %}" class="btn btn--cancel btn--transparent">
		{% trans "Back to article details" %}
	</a>
</div>
{% endif %}

</form>
{% endblock content %}