{% extends "admin/cms/base_form.html" %}{% load i18n %}
{% block title %}
    {% trans "Publish Page" %}
{% endblock title %}

{% block toolbar %}
    <span class="toolbar__breadcrumbs">
        <a href="{% url 'cms-admin:page-list' %}">{% trans "Pages" %}</a>
        &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
        <a href="{% url 'cms-admin:page-detail' page.id %}">{{page.display_title}}</a>
        &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
        {% trans "Publish Page" %}
    </span>
{% endblock toolbar %}

{% block form_content %}
<form action="" method="post" class="form">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="alert alert--error">
        {% for error in form.non_field_errors %}
            {{error}}<br>
        {% endfor %}
        </div>
    {% endif %}

    {% if page.get_translations %}
    <fieldset>
        <legend>{% trans "Are you sure to publish the following page?" %}</legend>
        <div class="form__row">
            <div class="form__group">
                <p class="text-strong">{{page.display_title}}</p>
                <p>
                    {% trans "All translations available for that page will be published." %}
                </p>
            </div>
        </div>
    </fieldset>
    <form method="post" action=".">
        <button type="submit" class="btn btn--primary">
            {% trans "Publish" %}
        </button>
        <a href="{% url 'cms-admin:page-detail' page.id %}" class="btn btn--cancel btn--transparent">
            {% trans "Cancel" %}
        </a>
        </form>
    {% else %}
    <fieldset>
        <div class="form__row">
            <div class="form__group">
                <p>
                    {% blocktrans %}
                        This page can not be published because it doesn't have any
                        content.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
        <div class="form__row">
            <a href="{% url 'cms-admin:page-detail' page.id %}" class="btn btn--cancel btn--transparent">
                {% trans "Back to page details" %}
            </a>
        </div>
    </fieldset>

    {% endif %}
</form>
{% endblock %}
