{% load i18n staticfiles metadata_tags %}
<fieldset class="table-view">
    <legend>{% trans "SEO & Social meta data" %}</legend>
    <div class="form__row">
        <div class="form__group">
            <p>{% blocktrans %}Set the meta data required for search engine to find and index your page properly. Also set the social meta data requried to enhance the Facebook, Twitter and Google sharing.{% endblocktrans %}</p>
            TEST
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>{% trans "Language" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for page in object.languages %}
            <tr>
                <td>
                    <img src="{% static "img/flags/" %}{{page.language_code}}.png" style="width:16px; position: relative; top:3px;"/>
                    {{page.get_language}}
                </td>
                <td class="text-right">
                    {% if page.parent %}
                        {% if perms.metadata.change_metadata %}
                            {% get_meta_data page as page_metadata %}
                            {% if page_metadata %}
                                <a
                                    href="{% url 'metadata-admin:metadata-update' page_metadata.id %}?next={% url 'blog-admin:article-detail' page.parent.id %}"
                                    class="[ btn btn--small btn--outline ]">
                                    <span class="fa fa-pen"></span>
                                    {% trans "Edit" %}
                                </a>
                            {% else %}
                                <a
                                    href="{% url 'metadata-admin:metadata-add' page.content_type.id page.id %}?next={% url 'blog-admin:article-detail' page.parent.id %}"
                                    class="[ btn btn--small btn--outline ]">
                                    <span class="fa fa-plus"></span>
                                    {% trans "Add" %}
                                </a>
                            {% endif %}
                        {% endif %}
                    {% else %}
                    <span class="text-muted">
                        {% trans "You must set a title for that language before adding data." %}
                    </span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</fieldset>
