{% load i18n %}
{% if object.status == 'APPROVAL_NEEDED' %}
<div class="alert alert--warning">
    <span class="label label--warning">
        <span class="fa fa-clock-o"></span>
        {{object.status_verbal}}
    </span>
    {% if perms.cms.publish_page %}
    <a href="{% url 'blog-admin:article-publish' object.id %}" class="pull-right">
        {% trans "Approve now" %}
        <span class="fa fa-arrow-right"></span>
    </a>
    {% endif %}
</div>
{% elif object.status == 'PUBLISHED' %}
<div class="alert alert--success">
    <span class="label label--success">
        <span class="fa fa-check"></span>
        {{object.status_verbal}}
    </span>
    {% if perms.cms.publish_page %}
        <a href="{% url 'blog-admin:article-unpublish' object.id %}" class="pull-right">
            {% trans "Unpublish" %}
            <span class="fa fa-arrow-right"></span>
        </a>
    {% endif %}
</div>
{% else %}
<div class="alert alert--info">
    <span class="label label--primary">
        {% trans "Draft" %}
    </span>
    {% if perms.cms.publish_page %}
        {% if object.get_translations %}
        <a href="{% url 'blog-admin:article-publish' object.id %}" class="pull-right">
            {% trans "Publish now" %}
            <span class="fa fa-arrow-right"></span>
        </a>
        {% else %}
        You must choose a title for the article before it can be published.
        {% endif %}
    {% endif %}
</div>
{% endif %}
