{% extends "admin/account/page.html" %}{% load i18n %}
{% block title %}
    {% trans "Article datasets" %}
{% endblock title %}

{% block toolbar %}
    {% if perms.app.add_model %}
    <a href="{% url 'blog-admin:articledataset-add' %}"
        class="[ toolbar__item ] [ btn btn--create btn--small pull-right ]">
        <span class="fa fa-plus"></span> {% trans "Add an article dataset" %}
    </a>
    {% endif %}
    <span class="toolbar__title">{% trans "Article datasets" %}</span>
{% endblock toolbar %}

{% block content %}
<div class="grid grid--collapse">
    <div class="grid__span-12">
        <div class="content__inner">
            <table class="table table--clickable">
                <tr class="table-row">
                    <th class="table-head-cell">{% trans "Name" %}</th>
                    <th class="table-head-cell"></th>
                </tr>
                {% for object in object_list %}
                <tr class="table-row" 
                    onClick="window.location = '{% url 'blog-admin:articledataset-detail' object.id %}'">
                    <td class="table-cell">{{object.name}}</td>
                    <td class="table-cell">
                        <a href="{% url 'blog-admin:articledataset-detail' object.id %}">
                            {% trans "Update" %}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}