{% load i18n %}
<ul class="archive years nav nav-list">
{% for year in archive %}
	{% if show_empty or year.article_count > 0 %}
	<li {% if request.path == year.get_absolute_url %}class="active"{% endif %}><a href="{{year.get_absolute_url}}">{{year}}{% if show_count %} ({{year.article_count}}){% endif %}</a>
		<ul class="months">
		{% for month in year.months %}
			{% with month.articles as articles %}
				{% if show_empty or articles %}
				<li {% if request.path == month.get_absolute_url %}class="active"{% endif %}><a href="{{month.get_absolute_url}}">{{month}}{% if show_count %} ({{month.article_count}}){% endif %}</a>
					{% if articles and show_articles %}<ul>
						{% for article in articles %}
							<li><a href="{{article.get_absolute_url}}">{{article}}</a></li>
						{% endfor %}
					</ul>{% endif %}
				</li>{% endif %}
			{% endwith %}
		{% endfor %}
		</ul>
	</li>
	{% endif %}
{% endfor %}
</ul>