{% extends "admin/account/page.html" %}{% load i18n %}
{% block title %}
	{% if object %}
		{% trans "Edit Article" %}
	{% else %}
		{% trans "Add a Article" %}
	{% endif %}
{% endblock title %}

{% block toolbar %}
	<span class="toolbar__title">{% trans "Articles" %}</span>
{% endblock toolbar %}

{% block content %}
<div class="[ content__inner ]">
	<p class="breadcrumb">
		<a href="{% url 'blog-admin:article-list' %}">{% trans "Articles" %}</a>  
		&nbsp;<span class="fa fa-angle-right"></span>&nbsp;
		{% if object %}
			{% trans "Edit Article" %}
		{% else %}
			{% trans "Add a Article" %}
		{% endif %}
	</p>
</div>
<form action="" method="post" class="form">
{% csrf_token %}
{% if form.non_field_errors %}
    <div class="alert alert--error">
    {% for error in form.non_field_errors %}
        {{error}}<br>
    {% endfor %}
    </div>
{% endif %}

<div class="[ content__inner ] [ box box--padded box--bordered ]">
	<fieldset>
		<legend>{% trans "Title" %}</legend>
		<div class="grid">
			<div class="grid__span-2">
				<span class="form__label--inline">
					{% trans "Choose a title" %}
				</span>
			</div>
			<div class="grid__span-6">
				{% with form.display_title as field %}
					{% include "admin/includes/text-field.html" %}
				{% endwith %}
			</div>		
		</div>
	</fieldset>
</div>

<div class="[ content__inner ] [ box box--padded box--bordered ]">
	<fieldset>
		<legend>{% trans "Template" %}</legend>
		<div class="grid">
			<div class="grid__span-2">
				<span class="form__label--inline">
					{% trans "Choose a template" %}
				</span>
			</div>
			<div class="grid__span-3">
				{% with form.template as field %}
					{% include "admin/includes/select-field.html" %}
				{% endwith %}
			</div>
		</div>
	</fieldset>
</div>

<div class="[ content__inner ] [ box box--padded box--bordered ]">
	<fieldset>
		<legend>{% trans "Publish date" %}</legend>
		<div class="grid">
            <div class="grid__span-2">
                <span class="form__label--inline">
                    {% trans "Date" %}
                </span>
            </div>
            <div class="grid__span-6">
                {% with form.date as field %}
                    {% include "admin/includes/text-field.html" %}
                {% endwith %}
            </div>  
        </div>
        <div class="grid">
            <div class="grid__span-2">
                <span class="form__label--inline">
                    {% trans "Time" %}
                </span>
            </div>
            <div class="grid__span-4">
                {% with form.time as field %}
                    {% include "admin/includes/text-field.html" %}
                {% endwith %}
            </div>
        </div>
    <fieldset>
</div>
<div class="[ content__inner ] [ box box--padded box--bordered ]" id="dataset">
	<fieldset>
		<legend>{% trans "Author" %}</legend>
		<div class="grid">
			<div class="grid__span-2">
				<span class="form__label--inline">
					{% trans "Author" %}
				</span>
			</div>
			<div class="grid__span-3">
				{% with form.author as field %}
					{% include "admin/includes/select-field.html" %}
				{% endwith %}
			</div>
		</div>
	</fieldset>
</div>
{% if object %}
<div class="[ content__inner ] [ box box--padded box--bordered ]" id="dataset">
	<fieldset>
		<legend>{% trans "Dataset" %}</legend>
		<div class="grid">
			<div class="grid__span-2">
				<span class="form__label--inline">
					{% trans "Select dataset" %}
				</span>
			</div>
			<div class="grid__span-3">
				{% with form.dataset as field %}
					{% include "admin/includes/select-field.html" %}
				{% endwith %}
				<p><a href="{% url 'blog-admin:articledataset-add' %}">+ {% trans "Add a new dataset" %}</a></p>
			</div>
		</div>
	</fieldset>
</div>
<div class="[ content__inner ] [ box box--padded box--bordered ]" id="dataset">
	<fieldset>
		<legend>{% trans "Article identifier" %}</legend>
		<div class="grid">
			<div class="grid__span-2">
				<span class="form__label--inline">
					{% trans "Unique Article identifier" %}
				</span>
			</div>
			<div class="grid__span-3">
				{% with form.slug as field %}
					{% include "admin/includes/text-field.html" %}
				{% endwith %}
			</div>
		</div>
	</fieldset>
</div>
{% endif %}
<div class="content__inner">
	<button type="submit" class="btn btn--primary">
		{% trans "Save" %}
	</button>
</div>
</form>
{% endblock content %}